<mat-toolbar id="tb-footer" color="primary">
  <div class="footer-section d-flex flex-column align-items-center">
    <div>About</div>
    <a class="footer-link">Our story</a>
    <a class="footer-link">Who we are</a>
  </div>
  <div class="footer-section d-flex flex-column align-items-center">
    <div>Contact</div>
    <span class="footer-link">Blaise</span>
  </div>
  <div class="footer-section d-flex flex-column align-items-center">
    <div>Quick links</div>
    <a routerLink="cycling" class="footer-link">Cycling</a>
    <a routerLink="gardening" class="footer-link">Gardening</a>
    <a routerLink="baking" class="footer-link">Baking</a>
  </div>
</mat-toolbar>
