$flex-direction-helpers: (
  flex: flex-direction
);
@include build-helpers($flex-direction-helpers, $flex-directions);

$flex-wrap-helpers: (
  flex: flex-wrap
);
@include build-helpers($flex-wrap-helpers, $flex-wraps);

$justify-content-helpers: (
  justify-content: justify-content
);
@include build-helpers($justify-content-helpers, $content-justification);

$align-item-helpers: (
  align-items: align-items
);
@include build-helpers($align-item-helpers, $item-alignment);

$align-content-helpers: (
  align-content: align-content
);
@include build-helpers($align-content-helpers, $content-alignment);
