$margin-helpers: (
  m: margin,
  ml: margin-left,
  mr: margin-right,
  mt: margin-top,
  mb: margin-bottom,
  mx: (
    margin-left,
    margin-right
  ),
  my: (
    margin-top,
    margin-bottom
  )
);

@include build($margin-helpers, $layouts);
