// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// COLOR SCHEME //
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$trail-blazin-primary: mat-palette($mat-teal, A700);
$trail-blazin-accent: mat-palette($mat-grey, 900);

// The warn palette is optional (defaults to red).
$trail-blazin-warn: mat-palette($mat-red, A200);

$primary: mat-color($trail-blazin-primary, default);
$accent: mat-color($trail-blazin-accent, default);
$warn: mat-color($trail-blazin-warn, default);

$black: #000000;
// END COLOR SCHEME //

// MEDIA //
$desktop-width: 40rem;
$desktop-height: 55rem;
// END MEDIA //

// LAYOUT //
$layouts: (
  layout-0: 0,
  layout-1: 1rem,
  layout-2: 1.5rem,
  layout-3: 2rem
);
// END LAYOUT //

// FLEX //
$flex-axises: (
  row: row,
  column: column
);
// END FLEX //
