@import '/src/assets/scss/variables';
@import '/src/assets/scss/functions';
@import '/src/assets/scss/mixins';
@import '/src/assets/scss/colors';
@import '/src/assets/scss/display';
@import '/src/assets/scss/flex';
@import '/src/assets/scss/padding';
@import '/src/assets/scss/margin';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$trail-blazin-theme: mat-light-theme(
  (
    color: (
      primary: $trail-blazin-primary,
      accent: $trail-blazin-accent,
      warn: $trail-blazin-warn
    )
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($trail-blazin-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
